/* Abstract Algebra book site, February 2009 */
/* Color scheme  */
/* Shading tool: http://www.hypergurl.com/colormatch.php */
/* 8-bit colors:  http://www.lynda.com/resources/webpalette.aspx# */
/* Dark, solid green, titles, etc:  #003300 */
/* Near black, hint of green , for main text: #001000 */
/* Interesting green for header/footer backgrounds: # 66CC33 */

/* Text appearance */

body { font-family: Verdana,Arial,sans-serif;
  font-size: 18px;
  color: #001000;
  background-image: url(graphics/suntile.jpg);
  }

.bookname {font-style: oblique; }
  
.strongtype {font-weight: 900; }
  
a { color: #006600; text-decoration: none;}
a:active {color: #006600;}
a:visited {color: #339933;}
a:hover {color: #006600; text-decoration: underline}
   
ul {list-style-type: none;}
  
li.hang {text-indent: -10px;}

/* Boxes for <div> */

  .mainbox { background-image: url(graphics/suntile.jpg);
    }

  .headerbox { border-bottom: 2px solid rgb(0, 0, 0);
    font-size: 200%;
    padding-left: 10px;
    color: #003300;
    background-color: #66CC33;  
    }
    
  .headersubtitle { font-style: italic; 
    padding-left: 5%;
    font-size: 50%;
    }
    
  /* Broken in IE
  .headerbox:before {content: "A First Course in Linear Algebra"}
  .headersubtitle:before {content: "The linear algebra textbook with freedom"}
  */

  .navbox { float: left;
    width: 25%;
    }
   
  .contentbox { 
    /* float: left; */
    margin: 0 0 0 25%;
    padding-left: 8px;
    padding-right: 20px;
    padding-bottom: 10px;
    }

  .footerbox { border-top: 2px solid rgb(0, 0, 0);
    clear: both;
    color: #003300;
    background-color: #66CC33;  
    padding-top: 2px; 
    padding-bottom: 2px;
    text-indent: 10px;
    font-size: 90%;
    }
    
    p.quote {
      padding-left: 40px;
      padding-right: 50px;
    }
    
    span.quotecitation {
      font-style: oblique;
    }
              
   .rssfeed {
      text-indent: 40px;
      padding-bottom: 20px;
    }
    
    .rssfeed span { 
      padding-left: 6px; 
     }    
    
    .affordable  {
      text-indent: 10px;
      padding-bottom: 20px;
    }
    
    .affordable img {
      border-style: none;
    }
    
    .rssfeed img {
      border-style: none;
    }
    
   .covericon {
      text-indent: 40px;
      padding-bottom: 20px;
    }
    
   .sageicon {
      text-indent: 40px;
      padding-bottom: 20px;
    }
    
    .sageicon img {
      border-style: none;
    }
   /*  Extra 15 pixels to center */
   .luluicon {
      text-indent: 55px;
      padding-bottom: 20px;
    }
        
    .statbox { visibility: hidden;}
    
   /* Broken in IE
   .footerbox:after{ content: ", beezer (at) ups (dot) edu" }
   */

  .navmenu { list-style-type: none;
    }

  .hotlink { color: #003300;
    }

  .thislink { color: #000000;
    }

/* h3 for headings within content boxes at very top (titles) */
/* h4 for sub headins within content boxes */

    h3 {
    color: #003300;
    font-size: 140%;
    font-weight: 500;
    }  
    
    h4 {
    font-size: 120%;
    font-weight: normal;
    }
    
    /* Default currently marks up the download table */
    table { table-layout: fixed; width: auto; border-collapse: collapse;}
    th {font-weight: normal; font-size: 80%;   padding-left: 2px; padding-right: 2px; border: 1px solid black}
    tr {display: table-row}
    td { text-align: center; font-size: 80%;  }
    td.newsdate {text-align: left; font-size: 80%; }
    td.newsitem {text-align: left; padding-left: 2em; padding-bottom: 3px; font-size: 80%;}

    /* Table of schools adopting book */
    table.adopt { table-layout: fixed; width: auto; border-collapse: collapse;}
    th.adopt {font-weight: normal; font-size: 120%;   padding-left: 2em; padding-right: 2em; border: 1px solid black}
    tr.adopt {display: table-row}
    td.adopt { text-align: left; font-size: 100%; padding-left: 2px; padding-right: 1em; padding-bottom: 2px; }
    
/* Table of links for hardcover edition */

table.retail-links {
    margin:10px auto;
    }

table.retail-links td {
    padding:30px;
    }

table.retail-links a {
    font-size:x-large;
    }

    